body {
    overflow-x: hidden;
    position: absolute;
}

img,
.tags {
    display: none;
}


/* main container accordion */

.accordionBody {
    overflow: hidden;
    max-height: 0;
    transition: 0.2s ease-out;
}

.box span {
    float: right;
    margin: 0;
    padding: 5px;
}

.box p {
    background-color: rgb(189, 226, 255);
    margin: 0;
    margin-bottom: 5px;
}